{% extends "idgo_admin/base.html" %}

{% load bootstrap3 %}

{% block breadcrumb_content %}
<ol class="breadcrumb">
  {% include "resource/breadcrumb_base.html" %}
  <li class="active">
    Ajouter une ressource
  </li>
</ol>
{% endblock breadcrumb_content %}

{% block main_content %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="list-group">
      <a href="#" class="list-group-item disabled">
        <h4 class="list-group-item-heading">Téléverser un fichier</h4>
        <p class="list-group-item-text">

        </p>
      </a>
      <a href="#" class="list-group-item disabled">
        <h4 class="list-group-item-heading">Synchroniser une URL de donnnées</h4>
        <p class="list-group-item-text">

        </p>
      </a>
      <a href="#" class="list-group-item disabled">
        <h4 class="list-group-item-heading">Synchroniser un fichier depuis le FTP</h4>
        <p class="list-group-item-text">

        </p>
      </a>
      <a href="{% url 'resource:emit_resource_store' dataset_id=dataset.id %}" class="list-group-item list-group-item-success">
        <h4 class="list-group-item-heading">Téléverser un répertoire de fichiers</h4>
        <p class="list-group-item-text">

        </p>
      </a>
      <a href="#" class="list-group-item disabled">
        <h4 class="list-group-item-heading">Référencer une URL</h4>
        <p class="list-group-item-text">

        </p>
      </a>
    </div>
  </div>
</div>
{% endblock main_content %}