<div>
  <h3>Informations concernant la ressource</h3>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th class="col-xs-4 col-sm-3 col-md-2 col-lg-2">Titre</th>
        <th class="col-xs-8 col-sm-9 col-md-10 col-lg-10">{{ resource.title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="col-xs-4 col-sm-3 col-md-2 col-lg-2">Description</th>
        <td class="col-xs-8 col-sm-9 col-md-10 col-lg-10">{{ resource.description|default:"" }}</td>
      </tr>
      <tr>
        <th class="col-xs-4 col-sm-3 col-md-2 col-lg-2">Langue</th>
        <td class="col-xs-8 col-sm-9 col-md-10 col-lg-10">{{ resource.get_language_display }}</td>
      </tr>
      <tr>
        <th class="col-xs-4 col-sm-3 col-md-2 col-lg-2">Type de resource</th>
        <td class="col-xs-8 col-sm-9 col-md-10 col-lg-10">{{ resource.get_resource_type_display }}</td>
      </tr>
      <tr>
        <th class="col-xs-4 col-sm-3 col-md-2 col-lg-2">Format</th>
        <td class="col-xs-8 col-sm-9 col-md-10 col-lg-10">{{ resource.format_type.description }}</td>
      </tr>
    </tbody>
  </table>
</div>